body{
  background-color: #383F49;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.container{
  /*border:1px solid white;*/
  width: 1024px;
  height: 500px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display: inline-flex; 
}
.backbox{  
  background-color: #151922;
  width: 100%;
  height: 80%;
  position: absolute;
  transform: translate(0,-50%);
  top:50%;
  display: inline-flex;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.frontbox{
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #00A875;
  height: 100%;
  width: 30%;
  z-index: 10;
  position: absolute;
  right:0;
  margin-right: 3%;
  margin-left: 3%;
  transition: right .8s ease-in-out;
}

.moving{
  right:63%;
}

.loginMsg, .signupMsg{
  width: 50%;
  height: 100%;
  font-size: 15px;
  box-sizing: border-box;
}

.loginMsg .title,
.signupMsg .title{
  font-weight: 300;
  font-size: 23px;
}

.loginMsg p,
.signupMsg p {
  font-weight: 100;
}

.textcontent{
  color:white;
  margin-top:65px;
  margin-left: 12%;
}

.loginMsg button,
.signupMsg button {
  background-color: #00A875;
  border: 2px solid #00A875;
  border-radius: 10px;
  color:white;
  font-size: 12px;
  box-sizing: content-box;
  font-weight: 300;
  padding:10px;
  margin-top: 20px;
}

/* front box content*/
.login, .signup{
  padding: 20px;
  text-align: center;
}

.login h2,
.signup h2 {
  color: #fff;
  font-size:22px;
}

.inputbox{
  margin-top:30px; 
}
.login input, 
.signup input {
   margin-left: 0px;
  height: 40px;
  border-width: 0;
  border-style: solid;
  border-color: #666;
  border-left-width: 5px;
  background-color: #eee;
  width: 240px;
  padding-left: 10px;
  outline: 0;
}



/* Fade In & Out*/
.login p {
  cursor: pointer;
  color:#00A875;
  font-size:15px;
}

.loginMsg, .signupMsg{
  /*opacity: 1;*/
  transition: opacity .8s ease-in-out;
}

.visibility{
  opacity: 0;
}

.hide{
  display: none;
}

.rtitle {
  color: #00A875;
  font-size: 36px;
  font-weight: 200;
  padding-left: 10px;
}

.textinput {
  margin-left: 10px;
  height: 40px;
  border-width: 0;
  border-style: solid;
  border-color: #00A875;
  border-left-width: 5px;
  background-color: #00A875;
  width: 270px;
  padding-left: 10px;
  outline: 0;
}

.textinput:focus {
  background-color: #f4f4f4;
}

.submit {
  background-color: #00A875;
  height: 50px;
  width: 50px;
  z-index: 20;
  border-style: solid;
  border-width: 0;
  border-radius: 100px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: #00A875;
  outline: 0;
  cursor: pointer;
}